<!-- Example 1 -->
<!-- uncommemt for signal example -->
<!-- <div align="center">
  <p>Counter: {{ counter() }}</p>
  <button (click)="incrementCounter()">Increment</button>
</div> -->

<!-- Example 2 -->
<!-- uncomment for normal count -->
<!-- <div align="center">
  <p>Normal Count: {{ normalCount }}</p>
</div> -->

<!-- uncomment for count -->
<!-- <div align="center">
  <p>Count: {{ count() }}</p>
</div> -->

<!-- Example 3 -->
<!-- <div align="center">
  <p>Value: {{ value() }}</p>
  <button (click)="onIncreaseValue()">Increase Value</button>
</div> -->
